<div
  class="flex flex-col {{@alignClass}} {{if @showDivider @spaceClass}}"
  ...attributes
>
  {{#if @showDivider}}
    <Divider />
    <div>
      {{yield}}
    </div>
  {{else}}
    <div>
      {{yield}}
    </div>
  {{/if}}
</div>