<div class={{this.classNames}} ...attributes>
  <div class={{this.textClassNames}}>
    {{#if this.hasFormattedValue}}
      {{this.formattedValue}}
    {{else}}
      {{yield}}
    {{/if}}
  </div>
</div>
